/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 25vw;
}

#landing {
  background-image: url("../images/apple-pie.jpg");
  height: 60vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80%;
  font-size: 2rem;
}

h1 {
  color: white;
  font-size: 6.4rem;
}
/* STYLES */
/* Write your CSS below */